header, main, footer {
    max-width: 80%;
    margin: 1rem auto;
    border: 1px solid grey;
    padding: 1rem;
}
header, footer {
    background-color: steelblue;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1{
    text-align: center;
    font-family: "Croissant One", serif;
}

.wf1 label{
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
}

.wf1 div{
    padding-top: 1rem;
    font-size: .9rem;
}

.wf1 .rating-container {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    height: 30px;
}

.wf1 .rating-container label {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.wf1 input[type="text"],
.wfi input[type="textarea"],
.wf1 input[type="date"],
.wf1 select,
textarea{
    background-color: #eee;
    display: block;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 6px;
    margin-top: 3px ;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input[type="submit"]{
    border: none;
    background-image: linear-gradient(rgb(104, 138, 165), rgb(90, 90, 139));
    color: white;
    border-radius: 6px;
    box-sizing: border-box;
    padding: .8rem;
    margin-top: 1rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 1px 1px 4px #999;
}

.check{
    font-style: italic;
}

footer p{
    padding: 1rem;
    text-align: center;
    margin: 0%;
    font-weight: bold;
}